.header-color {
  /* background: #2c3e50;
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
  background: linear-gradient(to right, #3498db, #2c3e50); */

  background: #603813;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b29f94, #603813);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b29f94, #603813); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 

}

.landing-grid {
    background: #603813;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b29f94, #603813);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b29f94, #603813); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
   

}

.avatar-img{
    height:250px;
    padding-top: 5em;
}

.banner-text{
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    
}

.banner-text h1{
    font-size: 66px;
    font-weight: bold;
    color: rgb(163, 103, 103);
}

.banner-text hr{
    border-top :5px dotted white;
    width : 50%;
    margin : auto;

}

.banner-text p{
    color : white;
    font-size: 20px;
    padding : 1em;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;

}

.social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;

}