.header-color {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #603813;
  background: -webkit-linear-gradient(
    to right,
    #b29f94,
    #603813
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b29f94,
    #603813
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../images/Portfolio-Background.jpg");
  background-size: 100% 100%;
}

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: 0.5;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: rgb(163, 103, 103);
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.projects-grid {
  display: flex;
  /* background-image: url("https://assets.hongkiat.com/uploads/40-cool-abstract-and-background-photoshop-tutorials/windows-vista.jpg"); */
  background-size: 100% 100%;
}

.mdl-layout.has-scrolling-header .mdl-layout__content {
  overflow: visible;
  background-image: url(https://assets.hongkiat.com/uploads/40-cool-abstract-and-background-photoshop-tutorials/windows-vista.jpg);
  background-size: 100% 100%;
}

.contact-body {
 
  margin: auto;
  background-image: url("https://assets.hongkiat.com/uploads/40-cool-abstract-and-background-photoshop-tutorials/windows-vista.jpg");
  background-size: 100% 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
 
}
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  background: white;
  color: black;
  border: 2px solid black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-weight: 66px;
  padding-right: 5rem;
}

.resume-right-col {
  background: white;
  padding: 2em;


}

.aboutMe{
  margin: auto;
  background: #5a5753;
  /* background-image: url("../images/Portfolio-Background.jpg"); */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  background-image: url("https://assets.hongkiat.com/uploads/40-cool-abstract-and-background-photoshop-tutorials/windows-vista.jpg");
  background-size: 100% 100%;
}

.about-grid {
  text-align: center;
  justify-content: center;
  width: 60%;
  height: 80%;
  background: white;
  color: black;
  border: 2px solid black;
  margin-bottom: 20px;
}

#resumeBackground {
  background-image: url("https://assets.hongkiat.com/uploads/40-cool-abstract-and-background-photoshop-tutorials/windows-vista.jpg");
  background-size: 100% 100%;
}
/* .mdl-layout_content{
  background-image: url("https://lh3.googleusercontent.com/proxy/iaxc53Qeg7LbBGrXBHXkcaENK7Z2USfnmK3YecvH8EWcxa6AUf3eaxyeRwbOrhSFd-sUO1lJYbMtcCtYM_HxfQIPYP-ICFr1pyBATluBBNWc");
  background-size: 100% 100%;
} */

.resume-leftside{
  color : white;
}
